.App {
  color: white;
  height: 100vh;
  width: 100%;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app-form {
  display: flex;
  flex-direction: column;
  background-color: #222;
  padding: 1.5rem;
  border-radius: 5px;
}
.app-form input {
  margin: .25rem 0;
}

.form-button {
  margin-top: .5rem;
  padding: .5rem .8rem;
  cursor: pointer;
}